@charset "UTF-8";

@font-face {
  font-family: "template-cs";
  src:url("fonts/template-cs.eot");
  src:url("fonts/template-cs.eot%3F") format("embedded-opentype"),
    url("fonts/template-cs.woff") format("woff"),
    url("fonts/template-cs.ttf") format("truetype"),
    url("fonts/template-cs.svg") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "template-cs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: middle;
  speak: none;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="template-"]:before,
[class*=" template-"]:before {
  font-family: "template-cs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: middle;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.template-arrow-left-1:before {
  content: "a";
}
.template-arrow-right-1:before {
  content: "b";
}
.template-arrow-left-2:before {
  content: "c";
}
.template-arrow-right-2:before {
  content: "d";
}
.template-arrow-menu:before {
  content: "e";
}
.template-search:before {
  content: "j";
}
.template-shopping-cart:before {
  content: "k";
}
.template-phone:before {
  content: "l";
}
.template-mail:before {
  content: "m";
}
.template-clock:before {
  content: "n";
}
.template-location:before {
  content: "o";
}
.template-eye:before {
  content: "p";
}
.template-bubble:before {
  content: "q";
}
.template-arrow-up:before {
  content: "r";
}
.template-calendar:before {
  content: "s";
}
.template-arrow-dropdown:before {
  content: "t";
}
.template-arrow-circle-down:before {
  content: "g";
}
.template-arrow-circle-right:before {
  content: "h";
}
.template-delete-marker-1:before {
  content: "f";
}
.template-bullet:before {
  content: "i";
}
.template-pencil:before {
  content: "u";
}
.template-tag:before {
  content: "v";
}
.template-folder2:before {
  content: "w";
}
.template-user:before {
  content: "x";
}
