{% extends 'base.html' %}
{% load static thumbnail %}
{% block title %}Наши работы | {{ work.title }}{% endblock %}
{% block description %}Наши работы | {{ work.title }}{% endblock %}
{% block keywords %}Наши работы | {{ work.title }}{% endblock %}
{% block content %}
    <div class="theme-page padding-bottom-66">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>Наши работы</h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <ul class="bread-crumb">
                                <li>
                                    <a title="{{ work.title }}" href="{% url 'work_list' %}">Наши работы</a>
                                </li>
                                <li class="separator">/</li>
                                <li>{{ work.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row margin-top-70">
                <div class="column column-1-2">
                    <a href="{% thumbnail work.image 870x580 %}" class="prettyPhoto re-preload"
                       title="{{ work.title }}">
                        <img src="{% thumbnail work.image 570x380 %}" alt="{{ work.title }}" style="display: block;">
                    </a>
                </div>
                <div class="column column-1-2">
                    <h3 class="box-header">{{ work.title }}</h3>

                    <p class="margin-top-20">{{ work.content.html|safe }}</p>
                </div>
            </div>
                {% if work.gallery %}
                    {% for gallery in work.gallery %}
                      {% if forloop.counter == 1 or forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 or forloop.counter == 17 or forloop.counter == 21 or forloop.counter == 25 or forloop.counter == 29 or forloop.counter == 33 or forloop.counter == 37 %}
                        <div class="row margin-top-20">
                      {% endif %}
                            <div class="column column-1-4">
                                <a href="{% thumbnail gallery.image 870x580 %}" class="prettyPhoto re-preload"
                                   title="{{ work.title }}">
                                    <img src="{% thumbnail gallery.image 570x380 %}" alt="{{ work.title }}"
                                         style="display: block;">
                                </a>
                            </div>
                            {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 or forloop.counter == 16 or forloop.counter == 20 or forloop.counter == 24 or forloop.counter == 28 or forloop.counter == 32 or forloop.counter == 36 or forloop.counter == 40 %}
                              </div>
                            {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
