{% extends 'base.html' %}
{% load static thumbnail %}
{% block title %}Наши работы{% endblock %}
{% block description %}Наши работы{% endblock %}
{% block keywords %}Наши работы{% endblock %}

{% block content %}
    <div class="theme-page padding-bottom-70">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>Наши работы</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            {% if work_list %}
                <div class="row">
                    <ul class="galleries-list isotope">
                        {% for work in work_list %}
                            <li>
                                <a href="{% url 'work_detail' work.pk %}" title="{{ work.title }}">
                                    <img src="{% thumbnail work.image 270x180 %}" alt="{{ work.title }}">
                                </a>

                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p class="description">{{ work.title }}</p>
                                            <a class="more simple" href="{% url 'work_detail' work.pk %}"
                                               title="Подробнее">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}