{% extends 'base.html' %}
{% load static cropping %}
{% block title %}Блог | {{ blog.title }}{% endblock %}
{% block content %}
    <div class="theme-page padding-bottom-66">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>Блог</h1>
                    </div>
                    <div class="page-header-right">
                        <div class="bread-crumb-container">
                            <ul class="bread-crumb">
                                <li><a title="Блог" href="{% url 'blog_list' %}">Блог</a></li>
                                <li class="separator">/</li>
                                <li>{{ blog.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row margin-top-70">
                <div class="column column-1-1">
                    <div class="blog clearfix">
                        <div class="post single">
                            <a href="{% url 'blog_detail' blog.pk %}" title="{{ blog_title }}"
                               class="post-image">
                                <img src="{% cropped_thumbnail blog "cropping" %}" alt="{{ blog_title }}" style="display: block;">
                            </a>

                            <div class="post-content-details-container clearfix">
                                <ul class="post-content-details">
                                    <li>{{ blog.created|date:'d.m.Y' }}</li>
                                </ul>
                            </div>
                            <h3 class="box-header">{{ blog.title }}</h3>
                            {{ blog.content.html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}