{% extends 'base.html' %}
{% load static cropping %}
{% block title %}Блог{% endblock %}
{% block content %}
    <div class="theme-page padding-bottom-66">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row full-width padding-top-bottom-50 vertical-align-cell">
                <div class="row">
                    <div class="page-header-left">
                        <h1>Блог</h1>
                    </div>
                </div>
            </div>
        </div>
        {% if blog_list %}
            <div class="clearfix">
                <div class="row margin-top-70">
                    <div class="column column-1-1">
                        <ul class="blog clearfix">
                            {% for blog in blog_list %}
                                <li>
                                    <a href="{% url 'blog_detail' blog.pk %}" title="{{ blog_title }}"
                                       class="post-image">
                                        <img src="{% cropped_thumbnail blog "cropping" %}" alt=""
                                             style="display: block;">
                                    </a>

                                    <div class="post-content-details-container clearfix">
                                        <ul class="post-content-details">
                                            <li>{{ blog.created|date:'d.m.Y' }}</li>
                                        </ul>
                                    </div>
                                    <h3 class="box-header"><a
                                            href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>

                                    <p>{{ blog.anons }}</p>

                                    <div class="row margin-top-40 padding-bottom-20">
                                        <a class="more" href="{% url 'blog_detail' blog.pk %}" title="Подробнее">
                                            <span>Подробнее</span>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if is_paginated %}
                            <ul class="pagination page-margin-top">
                                {% if page_obj.has_previous %}
                                    <li class="left">
                                        <a href="?page={{ page_obj.previous_page_number }}"
                                           class="template-arrow-left-1">
                                            &nbsp;</a>
                                    </li>
                                {% endif %}
                                <li class="selected">
                                    <a href="#" class="disabled">{{ page_obj.number }}</a>
                                </li>
                                {% if page_obj.has_next %}
                                    <li class="right">
                                        <a href="?page={{ page_obj.next_page_number }}" class="template-arrow-left-1">
                                            &nbsp;
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}