{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="theme-page padding-bottom-66">
        <div class="clearfix">
            <div class="row full-width">
                <div class="col-md-12" style="text-align: center;">
                    <a class="dg-widget-link"
                       href="http://2gis.ru/novosibirsk/firm/70000001019287054/center/82.922808,54.973921/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                        на карте Новосибирска</a>

                    <div class="dg-widget-link"><a
                            href="http://2gis.ru/novosibirsk/center/82.922808,54.973921/zoom/16/routeTab/rsType/bus/to/82.922808,54.973921╎Bass-car studio, автосервис?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                        проезд до Bass-car studio, автосервис</a></div>
                    <script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script>
                    <script charset="utf-8">new DGWidgetLoader({

                        "height": 500,
                        "borderColor": "#a3a3a3",
                        "pos": {"lat": 54.973921, "lon": 82.922808, "zoom": 16},
                        "opt": {"city": "novosibirsk"},
                        "org": [{"id": "70000001019287054"}]
                    });</script>
                    <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript.
                        Включите его в настройках вашего браузера.
                    </noscript>
                </div>
            </div>
        </div>
    </div>
{% endblock %}