{% load static %}
{% if sliders %}
<div class="revolution-slider-container">
    <div class="revolution-slider">
        <ul style="display: none;">
            {% for slider in sliders %}
            <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                <img src="/media/{{ slider.image }}" alt="{{ slider.title }}" data-bgfit="cover">

                <div class="tp-caption customin customout"
                     data-x="center"
                     data-y="262"
                     data-customin="x:0;y:40;"
                     data-start="900"
                     data-speed="1200"
                     data-easing="easeInOutExpo"
                     data-customout="x:0;y:0;"
                     data-endspeed="500"
                     data-endeasing="easeInOutExpo">
                    <h2>{{ slider.title }}</h2>
                </div>
                <div class="tp-caption customin customout"
                     data-x="center"
                     data-y="343"
                     data-customin="x:0;y:40;"
                     data-start="1100"
                     data-speed="1200"
                     data-easing="easeInOutExpo"
                     data-customout="x:0;y:0;"
                     data-endspeed="500"
                     data-endeasing="easeInOutExpo">
                    <p class="description">{{ slider.content_to_text }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}