{% extends "base.html" %}
{% block title %}Страница не найдена{% endblock %}
{% block content %}
    <div class="theme-page padding-bottom-66">
        <div class="clearfix page-404 top-border">
            <div class="row margin-top-70">
                <div class="column column-1-1">
                    <h2>УПСС.</h2>

                    <h1>404</h1>

                    <p class="description align-center">Страница не найдена.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}