<div class="row dark-gray footer-row full-width padding-bottom-50">
    <div class="row row-4-4 top-border page-padding-top">
        <div class="column column-1-4">
            <h6 class="box-header">О нас</h6>
            <ul class="list simple margin-top-20">
                <li>г. Новосибирск</li>
                <li>ул. Пригородная, 21а</li>
                <li><span>Телефон:</span>(383) 380 1234</li>
                <li><span>E-mail:</span><a href="info@basscarstudio.ru">info@basscarstudio.ru</a></li>
            </ul>
            <ul class="social-icons gray margin-top-26">
                <li><a target="_blank" href="#" class="social-youtube"></a></li>
                <li><a target="_blank" href="https://instagram.com/basscarstudio/" class="social-instagram"></a></li>
                <li><a target="_blank" href="https://vk.com/basscarstudionsk" class="social-vk"></a></li>
            </ul>
        </div>
        <div class="column column-1-4">
            &nbsp;
        </div>
        <div class="column column-1-4">
            <h6 class="box-header">Основные виды работ</h6>
            <ul class="list margin-top-20">
                <li class="template-bullet">Диагностика</li>
                <li class="template-bullet">Замена масла</li>
                <li class="template-bullet">Замена фильтров</li>
                <li class="template-bullet">Ремонт ходовой части</li>
                <li class="template-bullet">Замена ДВС</li>
                <li class="template-bullet">Автозвук и шумоизоляция</li>
                <li class="template-bullet">Бронирование</li>
            </ul>
        </div>

        <div class="column column-1-4">
            <h6 class="box-header">Время работы</h6>
            <ul class="list simple margin-top-20">
                <li><span>Понедельник:</span>10:00 - 19:00</li>
                <li><span>Вторник:</span>10:00 - 19:00</li>
                <li><span>Среда:</span>10:00 - 19:00</li>
                <li><span>Четверг:</span>10:00 - 19:00</li>
                <li><span>Пятника:</span>10:00 - 19:00</li>
                <li><span>Суббота:</span>10:00 - 17:00</li>
                <li><span>Воскресенье:</span>Выходной</li>
            </ul>
        </div>
    </div>
</div>