<div class="header-top-bar-container clearfix">
    <div class="header-top-bar">
        <ul class="contact-details clearfix">
            <li class="template-phone">(383) 380 1234</li>
            <li class="template-mail"><a href="mailto:info@basscarstudio.ru">info@basscarstudio.ru</a></li>
            <li class="template-clock">Пн - Пт: 10:00 - 19:00</li>
        </ul>
        <ul class="social-icons">
            <li><a title="" href="#" class="social-youtube"></a></li>
            <li><a title="" href="https://instagram.com/basscarstudio/" class="social-instagram"></a></li>
            <li><a title="" href="https://vk.com/basscarstudionsk" class="social-vk"></a></li>
        </ul>
    </div>
    <a href="#" class="header-toggle template-arrow-up"></a>
</div>