<li class='{% if request.resolver_match.url_name == "app_index" %}selected{% endif %}'>
    <a href="{% url 'app_index' %}" title="Главная">Главная</a>
</li>
<li class='{% if request.resolver_match.url_name == "work_list" %}selected{% endif %}'>
    <a href="{% url 'work_list' %}" title="Наши работы">Наши работы</a>
</li>
<li class='left-flyout {% if request.resolver_match.url_name == "page_contact" %}selected{% endif %}'>
    <a href="{% url 'page_contact' %}" title="Контакты">Контакты</a>
</li>