{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Bass Car Studio | {% block title %}{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="google-site-verification" content="vZbdTNEV6h9OvxqBgN3tiOpaXIIBks4WlEbD043qbp0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content="Bass Car Studio | {% block keywords %}{% endblock %} | Новосибирск"/>
    <meta name="description" content="Bass Car Studio | {% block description %}{% endblock %} | Новосибирск"/>
    <link rel="stylesheet" type="text/css" href="{% static 'public/rs-plugin/css/settings.css' %}" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,800&amp;subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/superfish.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/prettyPhoto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/jquery.qtip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/animations.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/style/odometer-theme-default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/fonts/streamline-small/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/fonts/template/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/fonts/social/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'public/images/favicon.ico' %}">
</head>
<body class="">
<div class="site-container boxed">
    {% include '_header.html' %}
    <div class="header-container">
        <div class="vertical-align-table column-1-1">
            <div class="header clearfix">
                <div class="logo vertical-align-cell">
                    <h1><a href="{% url 'app_index' %}" title="Bass Car Studio">Bass Car Studio</a></h1>
                </div>
                <a href="{% url 'app_index' %}" class="mobile-menu-switch vertical-align-cell">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>

                <div class="menu-container clearfix vertical-align-cell">
                    <nav>
                        <ul class="sf-menu">
                            {% include '_menu.html' %}
                        </ul>
                    </nav>
                    <div class="mobile-menu-container">
                        <div class="mobile-menu-divider"></div>
                        <nav>
                            <ul class="mobile-menu">
                                {% include '_menu.html' %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
        {{ content }}
    {% endblock %}
    {% include '_footer.html' %}
    <div class="row align-center padding-top-bottom-30">
        <span class="copyright">© Copyright {% now 'Y' %}
            <a href="http://basscarstudio.ru" title="Bass Car Studio" target="_blank">Bass Car Studio</a>
        </span>
    </div>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-up"
   title="Вверх"></a>

<div class="background-overlay"></div>
<!--js-->
<script type="text/javascript" src="{% static 'public/' %}js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery-migrate-1.2.1.min.js"></script>
<!--slider revolution-->
<script type="text/javascript" src="{% static 'public/' %}rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery-ui-1.11.4.custom.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.transit.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.hint.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.costCalculator.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.parallax.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'public/' %}js/main.js"></script>
<script type="text/javascript" src="{% static 'public/' %}js/odometer.min.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter32571475 = new Ya.Metrika({
                    id: 32571475,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true,
                    trackHash: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/32571475" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>