{% extends 'base.html' %}
{% load static slider_tags %}
{% block title %}Главная{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
   {% slider_view %}
    <div class="theme-page">
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <div class="row">
                    <h2 class="box-header">ПОЧЕМУ СТОИТ ОБРАТИТЬСЯ К НАМ?</h2>

                    <p class="description align-center">
                        Мастерская «Bass Car Studio» заработала профессиональную репутацию среди автовладельцев города
                        Новосибирска.
                        К нам обращаются по вопросам ремонта и обслуживания, установки автозвука, шумоизоляции салона,
                        бронирования пленкой ЛКП, брендированию и др.
                    </p>

                    <div class="row page-margin-top">
                        <div class="column column-1-3">
                            <ul class="features-list big">
                                <li>
                                    <div class="hexagon">
                                        <div class="sl-small-person"></div>
                                    </div>
                                    <h4 class="box-header page-margin-top">ПРОФЕССИОНАЛИЗМ</h4>

                                    <p>Наши сотрудники - опытные профессионалы имеющие годы стажа.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-3">
                            <ul class="features-list big">
                                <li>
                                    <div class="hexagon">
                                        <div class="sl-small-certificate"></div>
                                    </div>
                                    <h4 class="box-header page-margin-top">ПРОВЕРЕННЫЕ ДЕТАЛИ</h4>

                                    <p>Мы сотрудничаем с поставщиками запчастей и расходных материалов - гарантия
                                        качества.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-3">
                            <ul class="features-list big">
                                <li>
                                    <div class="hexagon">
                                        <div class="sl-small-share-time"></div>
                                    </div>
                                    <h4 class="box-header page-margin-top">СКОРОСТЬ</h4>

                                    <p>Мы ценим свое и ваше время. После дефектовки мы сами найдем и доставим
                                        необходимые детали.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width gray flex-box page-margin-top-section">
                <div class="column column-1-2 background-1">
                    <a class="flex-hide" href="#" title="Tiling and Painting">
                        <img src="{% static 'public/' %}images/samples/960x680/image_01.jpg" alt="">
                    </a>
                </div>
                <div class="column column-1-2 padding-bottom-66">
                    <div class="row padding-left-right-100">
                        <h2 class="box-header page-margin-top-section">ОБСЛУЖИВАНИЕ АВТОМОБИЛЕЙ</h2>

                        <p class="description align-center">Мы производим ремонт легковых автомобилей и
                            внедорожников:</p>

                        <div class="row margin-top-30">
                            <div class="column column-1-3">
                                <ul class="list">
                                    <li class="template-bullet">Subaru</li>
                                    <li class="template-bullet">Toyota</li>
                                    <li class="template-bullet">Nissan</li>
                                    <li class="template-bullet">Mazda</li>
                                    <li class="template-bullet">Suzuki</li>
                                </ul>
                            </div>
                            <div class="column column-1-3">
                                <ul class="list">
                                    <li class="template-bullet">Mercedes-Benz</li>
                                    <li class="template-bullet">BMW</li>
                                    <li class="template-bullet">Audi</li>
                                    <li class="template-bullet">VW</li>
                                    <li class="template-bullet">Skoda</li>
                                </ul>
                            </div>
                            <div class="column column-1-3">
                                <ul class="list">
                                    <li class="template-bullet">Chrysler</li>
                                    <li class="template-bullet">Jeep</li>
                                    <li class="template-bullet">Ford</li>
                                    <li class="template-bullet">Chevrolet</li>
                                    <li class="template-bullet">и другие..</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width page-margin-top-section">
                <h2 class="box-header">МАСТЕРСКАЯ АВТОЗВУКА</h2>

                <p class="description align-center">Ваш автомобиль будет доверен профессионалам своего дела -
                    победителям многих престижных соревнований.</p>
                <ul class="galleries-list clearfix page-margin-top">
                    <li><img src="{% static 'public/' %}images/samples/480x320/image_13.jpg" alt="Шумоизоляция">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Шумоизоляция</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'public/' %}images/samples/480x320/image_14.jpg" alt="">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Инсталяция акустических систем</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'public/' %}images/samples/480x320/image_15.jpg" alt="">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Изготовление корпусов сабвуферов</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'public/' %}images/samples/480x320/image_16.jpg" alt="">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Изготовление обшивок дверей</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row full-width page-margin-top-section">
                <h2 class="box-header">УСЛУГИ АВТОСЕРВИСА</h2>

                <p class="description align-center">Мы предлагаем услуги автосервиса полного цикла.<br>Наши
                    профессионалы способны устранить широкий спектор неполадок в вашем авто.</p>
                <ul class="galleries-list clearfix page-margin-top">
                    <li>
                        <img src="{% static 'public/' %}images/samples/480x320/image_01.jpg" alt="Диагностика">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Диагностика</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'public/' %}images/samples/480x320/image_02.jpg" alt="Замена масла">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Замена масла</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'public/' %}images/samples/480x320/image_03.jpg"
                             alt="Проверка навесного оборудования">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Проверка навесного оборудования</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'public/' %}images/samples/480x320/image_05.jpg"
                             alt="Проверка тормозной системы">

                        <div class="view align-center">
                            <div class="vertical-align-table">
                                <div class="vertical-align-cell">
                                    <p class="description">Проверка тормозной системы</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}